/*CSS esterno che gestisce il css per la navbar, per il footer e il body di ogni pagina del sito*/

html {
	overflow-y: scroll; 			/*Ci permette di scrollare la pagina in verticale*/
	overflow-x: hidden;
}

body { 
	background-color: #80BFFF;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: 500;
}

ul {								/*Per implementare la navbar abbiamo utilizzato una lista puntata, con relativi elementi*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00264D;
}

  
li {
	float: left;
	color: white;
	font-size: 20px;
}

li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

li a:hover {
	background-color: #ddd;
	color: black;
}

li.split							/*Abbiamo diviso la navbar in due parti per far risaltare il login e il signup, posti nella parte destra della navbar*/
{
	float: right;
}

li a.split
{
	
	background-color: #0059B3;
	color: white;
	
}

li a.split:hover {
	background-color: #ddd;
	color: black;
}

li.dropdown {
	display: inline-block;
}
  
.dropdown-content {					/*Css relativo al menù a tendina visibile quando si passa il cursore del mouse su Profilo*/
	display: none;
	position: absolute;
	background-color: #00264D;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px black;
	z-index: 1;
}
  
.dropdown-content a {
	color: white;
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	background-color: #ddd;
	color: black;
}
  
.dropdown-content a:hover 
{
	background-color: #00264D;
	color: white;
}
 
.dropdown:hover .dropdown-content {
	display: block;
	background-color: #ddd;
	color: black;
}

.footer {							/*Css relativo al footer*/
	position: fixed;
   	left: 0;
	height: 90px;
   	bottom: 0;
   	width: 100%;
   	background-color: #00264D;
   	color: white;
 	text-align: center;
}

.link-footer {
    color: white;
}


